html,body{
    margin: 0;
    padding: 0;
}

html,body{
    scroll-behavior: smooth;
}

body{
    background: #222a34;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display:none;
}

.back-grid{
    background-image: url(../img/grid.png);
    filter: invert(30%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc((var(--bg_h, 100vh)) + 150px);
    z-index: -1;
}

.main{
    width: 100%;
    min-height: calc(100vh - 100px);
    min-height: calc((var(--vh, 1vh) * 100) - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.serch-box,.search-element{
    max-width: 800px;
    width: calc(100% - 80px);
    margin: 20px 10px;
    padding: 30px;
    background: #101519;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.8);
    position: relative;
    color: #FFF;
}

.contents-border{
    width: 20px;
    height: 20px;
    position: absolute;
}

.top-left-border{
    border-top: solid 4px #207578;
    border-left: solid 4px #207578; 
    top: 0;
    left: 0;
}

.top-right-border{
    border-top: solid 4px #207578;
    border-right: solid 4px #207578;
    top: 0;
    right: 0;
}

.bottom-left-border{
    border-bottom: solid 4px #207578;
    border-left: solid 4px #207578;
    bottom: 0;
    left: 0;
}

.bottom-right-border{
    border-bottom: solid 4px #207578;
    border-right: solid 4px #207578;
    bottom: 0;
    right: 0;
}




