#footer{
    height: 150px;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

.footer_item{
    color: #FFF;
    font-weight: bold;
    width: 30%;
    text-align: center;
}

.license{
    color: #c5c5c5;
    font-size: 14px;
    margin: 0 20px;
}

