.header{
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.6));
}

.header-clip{
    width: calc(100% - 20px);
    padding: 0 10px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: start;
    /*background-image: url(../img/p0348_l.png);
    filter: brightness(150%);*/
    background-image: linear-gradient(
        85deg,
        hsl(0deg 0% 1%) 0%,
        hsl(209deg 23% 3%) 22%,
        hsl(207deg 27% 4%) 33%,
        hsl(206deg 27% 6%) 42%,
        hsl(206deg 26% 7%) 50%,
        hsl(206deg 25% 8%) 58%,
        hsl(206deg 26% 9%) 67%,
        hsl(207deg 28% 10%) 78%,
        hsl(206deg 30% 11%) 100%
    );
    
    background-size: contain;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 380px 50%, 320px 100%, 0 100%);
}

.header-clip .title-area{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.header-clip .logo{
    height: 80px;
    width: 80px;
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 200px;
    background-image: url(../img/scp-logo.svg);
    background-size: contain;
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

.header-clip .title{
    user-select: none;
    margin-left: 5px;
}

.header-clip h1{
    width: 100%;
    color: #FFF;
    margin-top: 11px;
    height: 34px;
    margin-bottom: 0;
    text-align: center;
    font-size: 28px;
}

.header-clip p{
    width: 100%;
    margin: 0;
    text-align: center;
    color: #FFF;
}

.list_title{
    height: 30px;
    padding: 2px 0;
    font-size: 26px;
    font-weight: bold;
    color: #484848;
    text-shadow: 0px -2px 0 rgb(134 134 134 / 50%);
    text-align: center;
    user-select: none;
}