

#search_contents h2 {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    user-select: none;
}

#search_contents h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 7px;
    background: -webkit-repeating-linear-gradient(-45deg, #00000000, #00000000 2px, #fff 2px, #fff 4px);
    background: repeating-linear-gradient(-45deg, #00000000, #00000000 2px, #fff 2px, #fff 4px);
}

#search_contents h3 {
    border-bottom: solid 2px;
    user-select: none;
}

#search_area{
    padding: 20px;
    padding-bottom: 0;
}

.main-search{
    width: 100%;
    margin: 20px 0;
}

.center-eff-btn,
.center-eff-btn::before,
.center-eff-btn::after {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.center-eff-btn {
    position: relative;
    z-index: 2;
    border: 2px solid #FFF;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}
.center-eff-btn::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}
.center-eff-btn:hover::after {
    background: #207578;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.search-btn{
    width: 150px;
    height: 30px;
    user-select: none;
}

.sub-search-btn{
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: calc(50% - 117px);
    margin-right: 10px;
}

.sub-search-btn-img{
    background-image: url(../img/advanced.png);
    width: 20px;
    height: 20px;
    margin: 5px;
    background-size: contain;
}

.sub-search{
    overflow: hidden;
    height: 0;
    transition: all 0.5s;
}

.sub-search-open{
    height: 350px;
}

.form-element{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-element-title{
    width: 90px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    user-select: none;
}

.form-element-input{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.input-image-area{
    width: 40px;
    height: 40px;
    position: relative;
    background: #207578;
}

.form-input{
    width: calc(100% - 60px);
    height: 40px;
    padding: 0 10px;
    margin: 0;
    font-size: 1.2em;
    border: none;
    border-radius: 0;
    outline: none;
    background: #8c8c8c6b;
    color: #a3a3a3;
}

.form-input-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-image{
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    top: calc(50% - 10px);
    left: 10px;
}

.input-range{
    width: 50px;
    flex: 0 0 50px;
    border: none;
    outline: none;
    background: #00000000;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #a3a3a3;
}

.input-range-wight-min{
    display: none;
    font-size: 16px;
    font-weight: bold;
}

.input-image-search{
    background-image: url(../img/search.png);
}

.input-image-tag{
    background-image: url(../img/tag.png);
}

.input-image-author{
    background-image: url(../img/author.png);
}

.input-image-rate{
    background-image: url(../img/rate.png);
}

.input-image-calendar{
    background-image: url(../img/calendar.png);
}

.input_underline{
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #00000000;
}

.input_underline::before,
.input_underline::after{
    position: absolute; 
    bottom: 1px;
    width: 0px;
    height: 1px;
    content: '';
    background-color: #FFF;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.input_underline::before{
    left: 50%;
}

.input_underline::after{ 
    right: 50%;
}

.form-input:focus{
    color: #FFF;
}

.form-input:focus + .input_underline::before,
.form-input:focus + .input_underline::after{
    width: 50%;
}

.search-list-msg-area{
    width: 100%;
    margin-top: 20px;
    display: none;
}

.search-list-msg-area-on{
    display: block;
}

.search-list-msg-img{
    width: 100%;
    height: 64px;
    background-image: url(../img/msg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.search-list-msg{
    width: 100%;
    text-align: center;
    color: #FFF;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    user-select: none;
}

.form-control{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.form-btn{
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.form-btn:hover{
    background-color: #FFF4;
    border-radius: 5px;
}

.search_box{
    display: block;
    width: calc(100% - 45px);
    margin-left: 45px;
    padding: 10px 20px;
    padding-right: 50px;
    border-radius: 0px 20px 20px 0px;
    border: 0;
    font-size: 18px;
}

.search_box:focus{
    border: 0;
    outline: 0;
}

.attention{
    opacity: 0;
    color: #FFF;
    text-align: center;
    transition: all 0.5s ease-out;
    user-select: none;
}

.display_none{
    display: none;
}

.display_on{
    opacity: 1;
}

.display_off{
    opacity: 0;
}

#mode_change{
    width: 41px;
    height: 41px;
    background: #fbfbfb;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/change.png);
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: 8px 5px;
    cursor: pointer;
    user-select: none;
}

#search_mode{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

#search_btn{
    width: 38px;
    height: 35px;
    background: #afafaf;
    border-radius: 18px;
    position: absolute;
    top: 3px;
    right: 3px;
    background-image: url(../img/access.png);
    background-size: 21px auto;
    background-repeat: no-repeat;
    background-position: 7px 6px;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width:500px) { 
    .input-range-wight-min{
        display: block;
    }
    multi-range{
        display: none;
    }
}